{% if page.collection == 'videos' or page.collection == 'mini-docs' %}
  {% assign background_image = page.featured_image_path | imgix_url: w: 1200, blur: 380 %}
{% else %}
  {% assign background_image = page.featured_image_path | imgix_url: w: 1200 %}
{% endif %}
{% assign background_image_mobile = page.featured_image_path %}

<style type="text/css">
  .gradient {
    background-color: #101010;
    background-image: url({{ background_image }});
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>