{% assign background_image = page.featured_image_path | imgix_url: w: 1200, blur: 400 %}
{% assign background_image_mobile = page.featured_image_path | imgix_url: w: 600, blur: 400) %}
{% assign source = page.video_source[0] %}

{% assign related_reports = page.reports_related_video %}

{% assign related_reports  = site.documents | where: 'collection', 'reports'   | where: 'video' , page.slug %}
{% assign related_video    = site.documents | where: 'collection', 'videos'    | where: 'slug'  , page.video %}
{% assign related_mini_doc = site.documents | where: 'collection', 'mini-docs' | where: 'video' , page.slug %}

<div class="hero gradient hero-video" style="background-color:#111;">
   {% include global/nav-topbar.html %}    
  <div class="hero-inner-video">
    <div class="hero__vid">
      {% if source.video_id %}
        <div class="embed-container">
           {% include components/video-embed.html %}
        </div>
      {% endif %}
    </div>
    
    <div class="hero__info">
    

      <h1 class="entry-title">
        {{ page.title }}
      </h1>        


      {% if page.description %}
        <p class="appearance{% if page.appearance == 'light-text' %}__light{% endif %}">
          {{ page.description | markdownify | remove: '<p>' | remove: '</p>'  }}
        </p>
      {% endif %}



      {% if page.pulitzer_logo == true %}
        <img src="/assets/images/pulitzer-center.png" alt="" style="max-width:247px;margin-top:1em;" />
      {% endif %}


      {% if related_reports.size > 0 %}          
        <h5>
          {% if related_reports[0].report_type %}
            <small>
              {{ related_reports[0].report_type }}: 
            </small>
            <br />
          {% endif %}
          <a href="{% if item.show_related_report_on_video_page %}#report{% else %}{{ related_reports[0].url }}{% endif %}">
            {{ related_reports[0].title }}
          </a>
        </h5>
      {% endif %} 



      {% if related_video.size > 0 %}
        <p class="appearance{% if page.appearance == 'light-text' %}__light{% endif %}" style="font-size:.75em;">
          Watch the full report
        </p>
        <h5 style="margin-top:0;">
          <a href="{{ related_video[0].url }}">
            {{ related_video[0].title }}
          </a>
        </h5>
      {% endif %}
            


      {% if related_mini_doc.size > 0 %}
        <h5>
          <a href="#related_videos">
            <small>
              See related clips &#8595;
            </small>
          </a>
        </h5>
      {% endif %}

      {% include components/addthis-sharing.html %}

    </div>
  </div>
</div>


