{% comment %}
<!--  Determine if we're limiting the output to a particular program  -->
{% endcomment %}
{% if include.cat %}
  {% assign cats = include.cat %}
  {% assign data = site.categories[cats] %}
{% comment %} 
<!-- if no program specified in the include, then show all the events --> 
{% endcomment %}
{% else %}
  {% assign data = paginator.posts | sort: 'date' | reverse %}
{% endif %}

<div class="layout-posts">
  <div class="row">
    {% for object in data %}
      <div class="boxes-3-across">
        {% include components/blog-posts.html %}
      </div> 
    {% endfor %}      
    {% include components/pagination.html %}
  </div>
</div>
