

 <footer class="footer" role="contentinfo" data-search-index="false">
  <div class="footer-logo">
    <img src="/assets/images/retroreport-logo-with-tagline_256x83.png" alt="Logo image">
  </div>

  {{ site.description_long | markdownify }}

  <hr />

  <div class="footer-links">
    <ul>
      <li><h3><a href="/about-retro-report/">About</a></h3></li>
      <li><a href="/about-retro-report/">About</a></li>
      <li><a href="/about/masthead/">Masthead</a></li>
      <li><a href="/about/board-of-directors/">Board</a></li>
    </ul>
    <ul>
      <li><h3><a href="/about/contact/">Interact</a></h3></li>
      <li><a href="/about/contact/">Contact</a></li>
      <li><a href="/community/get-updates/">Newsletter</a></li>
      <li><a href="/donate/">Donate</a></li>
    </ul>
    <ul>
      <li><h3><a href="/library/">Video</a></h3></li>
      <li><a href="/library/">Archive</a></li>
      <li><a href="/reports/">Multimedia</a></li>
    </ul>
  </div>

  <div class="footer-secondary-links">
    <ul>
      <li class="source-org vcarfd copyright">
        <a href="{{ site.url }}">&copy;&nbsp;{{ site.time | date: "%Y" }}&nbsp;<span class="org fn nbsp-left">{{ site.title }}</span></a>
      </li>
      <li>
        <a href="http://sonnetmedia.net">Site by Sonnet Media</a>
      </li>
      <li>
        <a href="/community/privacy-policy/">Privacy Policy</a>
      </li>
    </ul>
  </div>

</footer>

