<h6 class="light small">
  {{ object.date | date: "%B %d" }}
</h6>
<a href="{{ object.url }}">
  {% if object.featured_image_path %}
  <div class="image-box">
    <img src="{% if site.image_url %}{{ site.image_url }}{% endif %}{{ object.featured_image_path }}?w=300&h=200&fit=clamp&exp=1" style="max-width:100%;border:1px solid #ddd;">
    </div>
  {% endif %}
  <br />
  <h6 class="m0" style="margin:0;">
    {{ object.title markdownify | remove: '<p>' | remove: '</p>' }}
  </h6>
</a>
{% if object.content %}
  {{ object.content | markdownify | strip_html | truncate: 100 }}
    <a href="{{ url(object) }}">read</a>
{% endif %}
