{% assign image = object.featured_image_path | imgix_url: w: 400, txt:'Hello World!' %}


<a href="{{ object.url }}" class="flex-box">    

    <div class="image-box">
    <img src="{{ image }}">
  </div>  

 
  <h1 class="h6 flex-title name">{{ object.title | markdownify | remove: '<p>' | remove: '</p>' }} </h1>
 

  {% if page.url == '/video/' %}
    {% if object.collection == 'reports' %}
      <h6 class="type">
        {{ object.collection }}        
      </h6>
    {% endif %}
  {% endif %}
  
  <span class="category hidden">
    {{ object.topics  }}      
  </span>
  
  <p class="description">
    {{ object.description }}
  </p> 
 
 {% comment %}<!-- <span class="hidden related">{{ object.related_video.name }}</span>  -->{% endcomment %}
</a>
