//Base
@import
  "node_modules/normalize.scss/normalize",
  "node_modules/normalize-opentype.css/normalize-opentype.scss",
  "bourbon",
  "base/base",
  "neat",
  "base/layouts";

// Modules
@import
  "modules/flex-boxes",
  "vendor/flickity",
  "modules/footer",
  "vendor/fontello",
  "modules/forms",
  "modules/hero",
  "modules/images",
  "modules/hero-video",
  "modules/layouts",
  "modules/multi-media",
  "modules/nav-mobile",
  "modules/nav-top",
  "modules/pagination-visual",
  "modules/search-results",
  "modules/rows",
  "modules/utilities-accessibility",
  "modules/utilities-iframes",
  "modules/utilities-responsive",
  "modules/utilities",
  "vendor/fonts-typography-com.scss";


a.at300b .at4-icon, a.at300m .at4-icon {
  border-radius: 50%;
margin-left: .25em;
}

.border-top {
  border-top:4px solid $yellow2;
  padding-top:1em;
}

.watch-now{

  .copy {
  visibility: hidden;
  }
  &:hover, &:active {
    .copy {
      @include transition (all .25s ease-out);
    visibility: visible;
  }
  }
}


.lede-small {
  padding-top: 1em;
  font-weight: 400;
  @include media($xl-up) {
    font-size: 1.125em;
    padding-top: 0;
  }
}

input.email-input {
  width: 100%;
  display: block;
  @include media($m-up) {
    width:73%;
    display:inline;
  }
}
.signup {
  width: 100%;
  display: block;
  @include media($m-up) {
    display:inline;
    margin-left:1%;
    width:24%;
  }
}
.sidebar ul li a.active {
  background-color: $black;
  color: $yellow2;
}


// @include media($m-down) {
//    article h2 {
//   font-size: 2
// }
//   }


.headline {
  text-indent: -6px;
  &:before{
    content: "“";

  }
 }
