---
layout: page-listing
---
{% if page.url == '/blog/' %}
  {% assign data = paginator.posts %}
  {% assign data = data %}
   {% comment %}<!-- | sort: 'date', 'last' | reverse   -->{% endcomment %}
{% else %}
  {% assign category = page.slug %}
  {% assign data = site.posts | where: 'category', category | sort: 'date', 'last' | reverse %}
{% endif %}

{% assign links = site.category  %}

  <div class="layout-grid">
    <div class="not-flex-boxes">
      {% for object in data %}
        {% include components/box-grid.html %} 
      {% endfor %}      
    </div>
    {% include components/pagination.html %}
  </div>


{% if links %}
  <aside class="sidebar sidebar-right">
    <ul>
      {% for object in links %}
        <li>
            {% include components/link.html %}
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}