---
layout: page-listing
---
{% if page.url contains 'topic' %}
  {% assign topic = page.slug %}
  {% assign data = site.posts | where: 'topic', topic %}
{% else %}
  {% assign data = paginator.posts | sort: 'date' | reverse %}
{% endif %}
{% assign links = site.categories  %}

  <div class="layout-grid">
    <div class="flex-boxes">
      {% for object in data %}
        {% include components/box-grid.html %} 
      {% endfor %}      
    </div>
    {% include components/pagination.html %}
  </div>


{% if links %}
  <aside class="sidebar sidebar-right">
    <ul>
      {% for object in links %}
        <li>
          {{ category }}
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}