---
layout: page-listing
---
{% comment %}
<!--  Determine if we're limiting the output to a particular program  -->
{% endcomment %}
{% if page.url contains 'topic' %}
  {% assign topic = page.slug %}
  {% assign data = site.posts | where: 'topic', topic %}
{% comment %} 
<!-- if no program specified in the include, then show all the events --> 
{% endcomment %}
{% else %}
  {% assign data = paginator.posts | sort: 'date' | reverse %}
{% endif %}

  <div class="has-layout row">
    {% for object in data %}
      <div class="boxes-3-across">
        {% assign date = object.date %}
        {% include components/date.html date=date %}
        <a href="{{ object.url }}">
          {% if object.featured_image_path %}
            <div class="image-box">
              <img src="{% if site.image_url %}{{ site.image_url }}{% endif %}{{ object.featured_image_path }}?w=300&h=200&fit=clamp&exp=1" style="max-width:100%;border:1px solid #ddd;">
            </div>
          {% endif %}
          <br />
          <h2 class="h6 m0">
            {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}
          </h2>
        </a>
        {% if object.content %}
          {{ object.content | markdownify | strip_html | truncate: 100 }}
          <a href="{{ object.url }}">
            read
          </a>
        {% endif %}
      </div> 
    {% endfor %}      
    {% include components/pagination.html %}
  </div>


  {% assign links = site.category  %}

    {% if links %}
      <aside class="sidebar sidebar-right">
        <ul>
          {% for object in links %}
            <li>
              {% include components/link.html %}
            </li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}