---
layout: default
---
{% if page.featured_image_path %}
  {% include _hero.html %}
{% endif %}
<div id="content">    

  <div class="has-layout">
    <div class="row">
      <header>
        <h1 class="entry-title">
          {{ page.title }}
        </h1>
        {% if page.description %}
          <p class="lede">
            {{ page.description }}
          </p>
        {% endif %}
      </header>
    </div>
    {% if page.include %}
      {% include {{ page.include }} %}
    {% endif %}
    {{ content }}
  </div>

  {% if page.page_category %}
    {% assign links = site.pages | where: 'page_category', page.page_category %}
  {% endif %}

  {% if links %}
    <aside class="sidebar sidebar-right">
      <ul>
        {% for object in links %}
          <li>
            {% include components/link.html %}
          </li>
        {% endfor %}
      </ul>
    </aside>
  {% endif %}



  
  {% include components/page-bottom.html %}
</div>