---
layout: default
---
{% if page.featured_image_path %}
  {% include _hero.html %}
{% endif %}
<div id="content">    

  {% include page-links-sidebar.html %}

  <article class="hentry">
    {% include components/page-header.html %}

    {% if page.content != '' %}
      <div id="entry-content" class="entry-content prose">
        {{ content | markdownify }}
      </div>
    {% endif %}
    
    {% if page.include_content %}
      {% include {{ page.include_content }} %}
    {% endif %}
  </article>

  {% if page.include %}
    <div class="has-layout">
      {% include {{ page.include }} %}
    </div>
  {% endif %}

  {% include components/page-bottom.html %}
</div>