---
layout: page-listing
---
{% if page.url contains 'topic' %}
  {% assign topic = page.slug %}
  {% assign data = site.posts | where: 'topic', topic %}
{% else %}
  {% assign data = paginator.posts | sort: 'date' | reverse %}
{% endif %}
{% assign links = site.category  %}

  <div class="layout-grid">
    {% for object in data %}
      {% include components/posts-block.html %} 
    {% endfor %}      
    {% include components/pagination.html %}
  </div>


  

    {% if links %}
      <aside class="sidebar sidebar-right">
        <ul>
          {% for object in links %}
            <li>
              {% include components/link.html %}
            </li>
          {% endfor %}
        </ul>
      </aside>
    {% endif %}