---
layout: default
---

{% include hero.html  %}

<div id="content">    

  {% include page-links-sidebar.html %}

  <article class="hentry">
    {% include page-header.html %}

    {% if page.content != '' %}
      <div id="entry-content" class="entry-content prose">
        {{ content | markdownify }}
      </div>
    {% endif %}
    
    {% if page.collection == 'staff_members' %}    
    {% assign related_video = site.documents | sort: 'date', 'last' | reverse %}
    <div class="flex-boxes"> 
      {% for object in related_video %}
        {% if object.staff_members contains page.slug %}
          {% include components/box-flex.html %}            
        {% endif %}    
      {% endfor %}
    </div>
    {% endif %}
    
    {% if page.include_content %}
      {% include {{ page.include_content }} %}
    {% endif %}
  </article>

  {% if page.include %}
    <div class="has-layout">
      {% include {{ page.include }} %}
    </div>
  {% endif %}

  {% include components/page-bottom.html %}
</div>