---
layout: page-listing
---
{% comment %}
<!--  Determine if we're limiting the output to a particular program  -->
{% endcomment %}
{% if page.url contains 'topic' %}
  {% assign topic = page.slug %}
  {% assign data = site.posts | where: 'topic', topic %}
{% comment %} 
<!-- if no program specified in the include, then show all the events --> 
{% endcomment %}
{% else %}
  {% assign data = paginator.posts | sort: 'date' | reverse %}
{% endif %}

<div class="layout-posts">
  <div class="row">
    {% for object in data %}
      <div class="boxes-3-across">
        {% include components/blog-posts.html %}
      </div> 
    {% endfor %}      
    {% include components/pagination.html %}
  </div>
</div>
