---
layout: default
---
{% if page.featured_image_path %}
  {% include _hero.html %}
{% endif %}
<div id="content">    

  {% if page.category %}
    {% assign links = site.pages | where: 'page_category', page.page_category %}
  {% endif %}

  {% if links %}
    <aside class="sidebar sidebar-right">
      <ul>
        {% for object in links %}
          <li>
            {% include components/link.html %}
          </li>
        {% endfor %}
      </ul>
    </aside>
  {% endif %}

  <article class="hentry {% if page.class %}{{page.class}}{% endif %}">

    {% include components/article-header.html %}

    {% if page.content != '' %}
      <div id="entry-content" class="entry-content prose">
        {{ content | markdownify }}
      </div>
    {% endif %}
    
    {% if page.include_content %}
      {% include {{ page.include_content }} %}
    {% endif %}

  </article>

  
  {% include components/page-bottom.html %}
</div>