---
layout: default
sidebar: yoyo
---

{% assign pages = site.pages | where: 'page_category', page.page_category %}

{% if pages %}
<aside class="sidebar sidebar-left">
    <ul>
      {% for link in pages %}
        <li>
          <a href="{{ link.url }}"{% if page.url == link.url %} class="active"{% endif %}>
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
</aside>
{% endif %}
<article class="hentry {% if page.class %}{{page.class}}{% endif %}">
 {% unless page.featured_image_path %}
   <header>
     <h1 class="entry-title">
       {{ page.title }}
     </h1>
     {% if page.tagline %}
       <p class="lede">
         {{page.tagline}}
       </p>
     {% endif %}
   </header>
 {% endunless %}

 layout {{ layout.sidebar }}<br />
 page {{ page.sidebar }}<br />


 {% if page.content != '' %}
   <div id="entry-content" class="entry-content prose">
     {{ content | markdownify }}
     {% if page.include_content %}
        {% include {{ page.include_content }} %}
     {% endif %}
   </div>
 {% endif %}
</article>
<div class="has-layout">
  <div class="centered-content">
    {% include forms/mailchimp-simple.html %}
  </div>
</div>
